@model LMS.Models.CheckoutModels.CheckoutModel


@section Scripts{
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
}

<div class="container">
    <div class="header clearfix detailHeading"></div>
    <h2 class="text-muted">Checkout Library Item</h2>
</div>

<div class="jumbortron">
    <div class="row">
        <div class = "col-md-3">
        </div>
        <p id="itemTitle">@Model.Title</p>
        <img class="detailImage" src="@Model.ImageUrl" />
    </div>
</div>

<div class= "col-md-9">
   
     (Html.BeginForm("PlaceCheckout","Catalog", FormMethod.Post))
    {
        @Html.HiddenFor(a => a.AssetId)
        <div>
            Please insert a Library Card ID.
            @Html.TextBoxFor(a => a.LibraryCardId)
        <div>

            <button type="submit" class="btn-secondary btn-success btn-lg">
                Checkout
            </button>

        </div>
    }
   
</div>
</div>

